@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
     background-color: black; }
     header{
        position: fixed;
        top: 0;
        left: 0;
        padding:10px 15px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        width:100%;
        z-index: 10;
        background-color: black;
    }
    .logo a {
        margin-top: 10px;
        margin-left: 10px;
        font-family: "Chakra Petch", sans-serif;
        color: whitesmoke;
        font-size: 50px;
        text-decoration: none; 
        padding:10px;
    }
    .nav a{
        font-family:"Poppins",sans-serif;
        font-size: 20px;
        font-weight:normal;
        margin-right: 40px;
        color:white;
        position: relative;
        text-decoration: none;
    }
    .nav a::before{
        content: '';
        position: absolute;
        left:0;
        top:100%;
        width:0%;
        transition: 0.2s;
        background: white;
        height: 2px;
    }
    .nav a:hover::before{
        width: 100%;
    }

    video{

        width:100%;
        height:auto;
        object-fit: cover;
        margin-top: 0;
    }
    .para1{
        margin-top: 5%;
        height: 300px;
        width: 1010px;
        color: white;
        font-size: 30px;
        margin-left: 2%;
        font-family: "Rajdhani", sans-serif;
    }
    .para2{
        margin-top: 5%;
        color: white;
        height: 300px;
        width: 1000px;
        margin-left: 50%;
        margin-top: -15%;
        font-size: 30px;
        font-family:"Rajdhani", sans-serif ;
    margin-bottom: 4%;}
.img1{
    margin-top: 6%;
}
.para3{
    margin-top: 5%;
        color: white;
        height: 310px;
        width: 900px;
        margin-left: 54%;
        margin-top: -17%;
        font-size: 30px;
        font-family:"Rajdhani", sans-serif ;
    margin-bottom: 4%;
    padding-bottom: 15%;
}
.img2{
    height: 300px;
    width: 300px;
    background-color: red;
    margin-left: 0%;
    margin-top: 4%;
}
.img3{
    height: 300px;
    width: 300px;
    margin-left: 50%;
    margin-top: 16%;
padding-bottom: 20%;}
.para4{
    margin-left: 56%;
    width: 800px;
    margin-top: -16%;
    font-size: 30px;
    height: 200px;
    color: white;
    font-family:"Rajdhani", sans-serif ;
}
.myButton {
    background-color:whitesmoke;
    border-radius:28px;
    border:1px solid whitesmoke;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:17px;
    padding:14px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    font-weight: bold;
    margin-bottom: 3%;
}
.myButton:hover {
    background-color:black;
    color: white;
}
.myButton:active {
    position:relative;
    top:1px;
}
footer{
    background-color: #111;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;  
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: #111;
    margin:10px;
    border-radius:50%;
}
.social-icons a i{
    font-size:2em;
    color:white;
}
.social-icons a:hover{
    background-color: black;
    transition: 0.3s;
}
.footer-nav{
    display: flex;
    justify-content: center;
}
.footer-nav a{
    color:white;
    margin:20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    font-weight: bold;
    font-family: 'Noto Sans',sans-serif;
}
.footer-nav a:hover{
    opacity: 1;
}
.footer-bottom{
    background-color: black;
    padding: 20px;
    text-align:center
}
.footer-bottom p{
    color: white;
}

    